ul.units {
  --primary-color: #0072B3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
div.unit {
    &.active {
      --primary-color: #E7BE1E;
    }
    display: flex;
    flex-direction: row;
    position: relative;
    border: 3px solid var(--primary-color);
    border-top-left-radius: 18px;
    corner-top-left-shape: bevel;
    padding: 12px;
    gap: 12px;
    margin-bottom: 4px;
    min-width: 360px;
    max-width: 480px;
    flex-grow: 1;
    flex-basis: 360px;
    margin: 0 auto;
    box-shadow: inset 0 2px 12px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.3), 0 1px 3px rgba(0,0,0,.15);
    &.wide {
      max-width: 100%;
      flex-basis: 100%;
      .row {
        justify-content: space-between;
      }
      img {
        margin-left: 2rem;
      }
    }
    .data {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
    }
    img {
      justify-self: flex-end;
      align-self: start;
      max-height: 120px;
      max-width: 120px;
      mix-blend-mode: multiply;
    }
    .pv {
      position: absolute;
      background: var(--primary-color);
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      top: 0;
      right: 0;
      corner-shape: bevel;
      border-bottom-left-radius: 6px;
      padding: 0 4px 2px 6px;
    }
    .health {
      flex-grow: 1;
      max-width: 50%;
    }
    .health,
    .damage {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      .pips {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      .stat em + em::before {
        content: none;
      }
      .stat em.extreme {
        display: none;
      }
      .armor,
      .structure {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 4px;
        a {
          overflow: hidden;
          background-color: #00A651;
          color: transparent;
          height: .375rem;
          &:not(.armor a) {
            background-color: #00AEEF;
          }
        }
      }
    }
    .row {
      align-items: center;
    }
    .era-icon {
      color: transparent;
      display: inline-flex;
      overflow: hidden;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 100%;
    }
    &::after {
      content: '';
      display: block;
      background: var(--primary-color);
      height: 4px;
      width: 112px;
      position: absolute;
      top: calc(100% + 3px);
      corner-shape: bevel;
      border-radius: 0 0 4px 4px;
    }
    .actions {
      position-area: bottom;
      padding: .75rem 1.25rem;
      border-radius: .5rem;
      background: var(--surface);
      filter: drop-shadow(0 4px 8px rgba(0,0,0,.15)) drop-shadow(0 1px 3px rgba(0,0,0,.3)); /* 0 4px 8px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3); */
      transition: all 200ms;
      overflow: visible;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -.5rem;
        bottom: 100%;
        left: calc(50% - 1.5rem);
        right: calc(50% - 1.5rem);
        border-radius: .5rem .5rem 0 0;
        background: var(--surface);
        corner-shape: bevel;
      }
    }
    &:has(.actions:popover-open) {
      --primary-color: #E7BE1E;
    }
    &:has(.actions) {
      cursor: pointer;
      &:hover {
        box-shadow: 0 4px 10px rgba(0,0,0,.25), 0 1px 5px rgba(0,0,0,.4);
      }
    }
  }


form.unit {
  --primary-color: #0072B3;
  .row {
    gap: 1.25rem;
    &:has(label:nth-child(2)) > * {
      flex-basis: 50%;
    }
  }
  .table-wrapper {
    table {
      thead th {
        position: sticky;
        top: 0;
      }
    }
  }
  ul.units {
    padding-top: 1rem;
    max-height: 60vh;
    overflow-y: auto;
  }
}

dialog form.unit ul.units {
  max-height: 40vh;
}
