
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  corner-shape: bevel;
}

:focus-visible {
  outline: #e7be1e solid 2px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  --primary-color: #27282B;
  --surface: #FAFAF5;
  --on-surface: #4f4f49;
  --elevation-3: 0 4px 8px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);
  font-family:
    "Inter",
    ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  background: #FAFAF5;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 180px;
    background: url("/brushed_metal.png");
    mix-blend-mode: darken;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 13%;
    pointer-events: none;
  }
  &::after {
    position: fixed;
    rotate: 180deg;
    top: calc(100% - 180px);
  }
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: normal;
}

[popover] {
  border: 1px solid var(--surface);
  background: var(--surface);
  color: var(--on-surface);
  padding: .25rem .5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);
  max-width: 60ch;
}

a,
button.link {
  text-decoration: none;
}

h2 {
  font-family: Anta;
  font-size: 2rem;
  text-transform: uppercase;
}

button,
.button {
  --surface: #EDEDE8;
  font-family: Anta;
  font-size: 1rem;
  text-transform: uppercase;
  background: var(--surface);
  color: #140C09;
  corner-shape: bevel;
  border-top-left-radius: .65rem 1rem;
  border-top-right-radius: .65rem 1rem;
  border-bottom-right-radius: .65rem 1rem;
  border-bottom-left-radius: .65rem 1rem;
  border: 2px solid #140C09;
  padding: 6px 1rem;
  transition: all 300ms;
  line-height: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);
  align-self: center;
  white-space: nowrap;
  &:first-of-type:last-of-type {
    --surface: #E7BE1E;
  }
  &:hover {
    background: color-mix(in srgb, var(--surface) 85%, #fff 15%);
    box-shadow: 0 4px 10px rgba(0,0,0,.25), 0 1px 5px rgba(0,0,0,.4);
  }
  &:disabled {
    opacity: .4;
    &:hover {
      background: var(--surface);
      box-shadow: 0 4px 8px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);
    }
  }
  &.link {
    text-transform: capitalize;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    font-family: Inter;
    display: inline;
    position: relative;
    + [popover] {
      position-area: bottom;
      position-try-fallbacks: flip-block, right, flip-block flip-inline;
      container-type: anchored;
      top: .5rem;
    }
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}

main {
  margin: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  &.home {
    margin-top: 2rem;
  }
  > .row {
    gap: 2rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  gap: 1rem;
}

.end {
  justify-content: end;
  justify-items: end;
}


.abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;
  a,
  button.link {
    text-transform: capitalize;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    font-family: Inter;
    display: inline;
    position: relative;
    &:has( ~ a )::after,
    &:has( ~ button.link )::after {
      content: ', ';
    }
    &:before {
      content: '';
      position: absolute;
      top: calc(100% + .125rem);
      height: .125rem;
      background: var(--primary-color);
      left: 50%;
      right: 50%;
      transition: all 200ms;
    }
    &:hover,
    &:has( + [popover]:popover-open) {
      color: color-mix(in srgb, var(--primary-color) 65%, #000 35%);
      &:before {
        left: 0;
        right: 0;
      }
    }
    &:has( + [popover]:popover-open) {
      color: var(--on-surface);
    }
    + [popover] {
      position-area: bottom;
      position-try-fallbacks: flip-block, right, flip-block flip-inline;
      container-type: anchored;
      top: .5rem;
      overflow: visible;
      /* &::before {
        content: '';
        position: absolute;
        height: 8px;
        width: 20px;
        top: -9px;
        left: 50%;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        border: 1px solid var(--surface);
        border-bottom: none;
        corner-shape: bevel;
        transform: translateX(-50%);
        background: var(--surface);
      } */
      p {
        margin: .5rem 0;
      }
      .type > span {
        margin-left: 1rem;
      }
    }
  }
} 



.class {
  font-size: 18px;
  font-weight: 700;
  color: #4F4F49;
}
.variant {
  font-size: 14px;
  font-weight: 600;
  color: #797970;
}

.portrait {
  height: 94px;
  width: 94px;
  corner-shape: bevel;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  img {
    max-height: 100%;
  }
}

/* form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  label {
    text-transform: uppercase;
    font-family: Anta, sans;
    color: #4F4F49;
    font-size: .75rem;
    flex-grow: 1;
  }

  input,
  select {
    background: #EDEDE8;
    border-radius: 4px 4px 0 0;
    border: none;
    border-bottom: 1px solid #ABAAA1;
    font-size: .875rem;
    color: #33332F;
    width: 100%;
    padding: .5rem;
    &:focus-visible {
      outline: 2px solid #e7be1e;
    }
  }

  select:not([multiple]) {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1.25rem;
    &:disabled {
      opacity: .4;
    }
  }

  button,
  .button {
    cursor: pointer;
  }

  menu.actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 0 1.5rem;
    button:first-of-type:not([type=reset]) {
      --surface: #E7BE1E;
    }
  }

  details {
    summary {
      cursor: pointer;
      margin-bottom: .5rem;
    }
  }

}

/* Tables */
table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: .25rem .5rem;
    color: var(--primary-color);
    font-size: .875rem;
    &.right {
      text-align: right;
    }
  }
  th {
    --on-surface: #fff;
    font-family: Anta;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--on-surface);
    background-color: var(--primary-color);
    a,
    a {
      display: block;
      color: inherit;
      text-align: inherit;
      &.active{
        padding-right: 1rem;
        &:after {
          content: '';
          background-color: var(--on-surface);
          mask-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 1rem;
          width: 1rem;
          height: 1rem;
          margin-top: .125rem;
          position: absolute;
          transform: rotate(180deg);
          transition: all 200ms;
        }
        &.desc:after {
          transform: rotate(0);
        }
      }
    }
    &.gap {
      background: transparent;
      max-width: 2%;
      padding: 0;
    }
  }
  tr:nth-child(odd) td:not(.gap) {
    background: #EAEBED;
  }
}

/* Unit & Pilot Actions Styling */

div.unit,
div.pilot {
  .actions {
    position-area: bottom;
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    background: color-mix(in srgb, var(--primary-color) 5%, #fff 95%);
    border: none;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,.15)) drop-shadow(0 1px 3px rgba(0,0,0,.3)); /* 0 4px 8px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3); */
    transition: all 200ms;
    overflow: visible;
    gap: 1rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -.5rem;
      bottom: 100%;
      left: calc(50% - 1.5rem);
      right: calc(50% - 1.5rem);
      border-radius: .5rem .5rem 0 0;
      background: inherit;
      corner-shape: bevel;
    }
    &:popover-open {
      display: flex;
    }
  }
  &:has(.actions),
  &.clickable {
    cursor: pointer;
    &:hover,
    &:has(.actions:popover-open) {
      box-shadow: 0 4px 10px rgba(0,0,0,.25), 0 1px 5px rgba(0,0,0,.4);
    }
  }
}
