dialog {
  
  &[open] {
    position: fixed;
    width: 85vw;
    min-height: 50vh;
    min-height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-width: 0px;
    background: transparent;
  }

  &::backdrop {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}